@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: var(--Mhs7de);
    font-family: Arial, sans-serif;
    color: var(--YLNNHc);
}
body {
    background: var(--xhUGwc);
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
.header {
    display: flex;
}
.middle {

}
.app, .add, .mic, .image, .search {
    width: 10rem
    height: 10rem;
}